/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
  }
  
  .section {
    /* max-width: 1100px;
    margin: auto; */
  }
  
