/* Universal selector Style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    scroll-behavior: smooth;
}

/* Body Style */

body {
    background-color: royalblue;
}

/* Header and Navigation Styles START */

header {
    width: 100%;
    min-height: 20%;
    text-align: right;
    padding: auto;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#harbourBridge { 
    background: url(../IMG/harbourBridge.jpg) no-repeat center;
    background-size:cover;
    opacity: 90%;
    padding-top: 6%;
    width: auto;
    min-height: auto;
}

header h1 {
    text-align:right;
    padding-right: 30px;
    font-size: 45px;
    text-decoration: underline  red;
}

header h1 .DLlogo {
    font-family: 'Corinthia', cursive;
    font-size: 90px;
    color: navy;
    width: 150px;
    height: 150px;
    background-color: inherit;
}

header h2 {
    text-align:right;
    padding-right: 30px;
    padding-bottom: 50px;
    font-size: 45px;
    text-decoration: underline  red;
}

header nav {
    padding-top: 120px;
    padding-bottom: 10px;
}

header nav ul {
    text-align: center;
    color: rgb(63, 218, 32);
}

header nav ul li {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:none;
    font-weight: bold;
    outline: 3px solid  navy;
    margin-top: 30px;
    margin-right: 25px;
    padding: 5px;
    font-size: 27px;
    background: rgb(251, 251, 0, 0.5);
    list-style-type:square;
}

/* Header and Navigation Styles END */


/* Utility class Styles */
.profile-pic {
    float: right;
    position: relative;
    max-width: 250px;
    max-height: 250px;
    padding: 30px;
    
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  /* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
  
  /* make each code card a flexbox column to align and justify content within it */
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  /* set an outer and inner drop shadow on the card to create a glowing effect on hover */
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  }
  
  /* each card's code block grows to the height of the largest code block on the page, making each card even in height */
  .code-card .code-block {
    flex-grow: 1;
  }
  
  .code-card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center;
  }
  
  /* on <pre> click, select all contents so the code is highlighted */
  .code-card pre:active {
    user-select: all;
  }
  
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
  @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  